@using System.Globalization
@using Abp.Configuration
@using Abp.Configuration.Startup
@using Abp.Web.Mvc.Alerts
@using Abp.Web.Security.AntiForgery
@using InstaPoisk.Configuration
@using InstaPoisk.Web.Resources
@inject InstaPoisk.Timing.AppTimes AppTimes
@inject IAbpAntiForgeryManager AbpAntiForgeryManager
@inject IMultiTenancyConfig MultiTenancyConfig
@inject IWebResourceManager WebResourceManager
@inject ISettingManager SettingManager
@inject IAlertManager AlertManager
@{
    Layout = null;
    AbpAntiForgeryManager.SetCookie(Context);
    var uiTheme = await SettingManager.GetSettingValueAsync(AppSettingNames.UiTheme);
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>InstaPoisk</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">

    <link rel="shortcut icon" href="~/favicon.ico">

    <title>InstaPoisk</title>

    <environment names="Development">
        <!-- Bootstrap CSS-->
        <link rel="stylesheet" href="~/vendor/bootstrap/css/bootstrap.min.css">
        <!-- Font Awesome CSS-->
        <link rel="stylesheet" href="~/vendor/font-awesome/css/font-awesome.min.css">
        <!-- Google fonts - Roboto-->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,700">
        <!-- Bootstrap Select-->
        <link rel="stylesheet" href="~/vendor/bootstrap-select/css/bootstrap-select.min.css">
        <!-- owl carousel-->
        <link rel="stylesheet" asp-append-version="true" href="~/vendor/owl.carousel/assets/owl.carousel.css">
        <link rel="stylesheet" asp-append-version="true" href="~/vendor/owl.carousel/assets/owl.theme.default.css">
        <!-- theme stylesheet-->
        <link rel="stylesheet" asp-append-version="true" href="~/css/style.marsala.css" id="theme-stylesheet">
        <!-- Custom stylesheet - for your changes-->
        <link rel="stylesheet" asp-append-version="true" href="~/css/custom.css">
        <!-- Favicon and apple touch icons-->
        <link rel="shortcut icon" asp-append-version="true" href="~/img/favicon.ico" type="image/x-icon">
    </environment>

    <environment names="Staging,Production">
        <link href="~/view-resources/Views/_Bundles/shared-layout.min.css" rel="stylesheet" asp-append-version="true" />
    </environment>

    <!-- View specific styles -->
    @RenderSection("styles", required: false)

    <script type="text/javascript">
        // This is used to get the application's root path from javascript. It's useful if you're running application in a virtual directory under IIS.
        var abp = abp || {};
        abp.appPath = '@ApplicationPath';
    </script>

</head>
<body>
    <div id="all">
        <!-- Navbar Start-->
        <header class="nav-holder make-sticky">
            <div id="navbar" role="navigation" class="navbar navbar-expand-lg">
                <div class="container">
                    <div id="navigation" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav ml-auto">
                            @await Component.InvokeAsync("Menu")
                        </ul>
                    </div>
                    <div id="search" class="collapse clearfix">
                        <form role="search" class="navbar-form">
                            <div class="input-group">
                                <input type="text" placeholder="Search" class="form-control"><span class="input-group-btn">
                                    <button type="submit" class="btn btn-template-main"><i class="fa fa-search"></i></button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </header>
        <!-- Navbar End-->
    </div>
    @RenderBody()
    <!-- FOOTER -->
    <footer class="main-footer">
        <div class="">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 text-center-md">
                        <p>&copy; @DateTime.Now.Year. InstaPoisk KZ</p>
                    </div>
                    <div class="col-lg-8 text-right text-center-md">
                        <p>Template design by <a href="https://bootstrapious.com/free-templates">Bootstrapious Templates </a></p>
                        <!-- Please do not remove the backlink to us unless you support further theme's development at https://bootstrapious.com/donate. It is part of the license conditions. Thank you for understanding :)-->
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <environment names="Development">
        <!-- Javascript files-->
        <script src="~/vendor/jquery/jquery.min.js"></script>
        <script src="~/vendor/popper.js/umd/popper.min.js"></script>
        <script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
        <script src="~/vendor/jquery.cookie/jquery.cookie.js"></script>
        <script src="~/vendor/waypoints/lib/jquery.waypoints.min.js"></script>
        <script src="~/vendor/jquery.counterup/jquery.counterup.min.js"></script>
        <script src="~/vendor/owl.carousel/owl.carousel.min.js"></script>
        <script src="~/vendor/owl.carousel2.thumbs/owl.carousel2.thumbs.min.js"></script>
        <script src="~/js/jquery.parallax-1.1.3.js"></script>
        <script src="~/vendor/bootstrap-select/js/bootstrap-select.min.js"></script>
        <script src="~/vendor/jquery.scrollto/jquery.scrollTo.min.js"></script>
        <script src="~/js/front.js"></script>
        <script src="~/view-resources/Views/Shared/_Layout.js" asp-append-version="true"></script>

        @if (CultureInfo.CurrentUICulture.Name != "en")
        {
            <script src="~/lib/jquery-validation/src/localization/messages_@Html.Raw(CultureInfo.CurrentUICulture.Name.Replace("-", "_") + ".js")" asp-append-version="true"></script>
        }
    </environment>

    <environment names="Staging,Production">
        <script src="~/view-resources/Views/_Bundles/shared-layout.min.js" asp-append-version="true"></script>
    </environment>

    <script>
        // Localizing momentjs
    //moment.locale('@CultureInfo.CurrentUICulture.Name');
    </script>

    <!-- Dynamic scripts of ABP system (They are created on runtime and can not be bundled) -->
    <script src="~/AbpServiceProxies/GetAll?v=@(AppTimes.StartupTime.Ticks)" type="text/javascript"></script>
    <script src="~/AbpScripts/GetScripts?v=@(AppTimes.StartupTime.Ticks)" type="text/javascript"></script>

    <script src="~/lib/signalr-client/signalr.min.js" asp-append-version="true"></script>
    <script src="~/lib/abp-web-resources/Abp/Framework/scripts/libs/abp.signalr-client.js" asp-append-version="true"></script>

    @WebResourceManager.RenderScripts()

    <!-- View specific scripts -->
    @RenderSection("scripts", required: false)
</body>
</html>
