@model List<InstaPoisk.InstaAccounts.Dto.InstaAccountListDto>

@{
    ViewBag.CurrentPageName = ViewBag.Page;
}

@section scripts
    {
    <environment names="Development">
        <script src="~/view-resources/Areas/Admin/InstaAccounts/Index.js" asp-append-version="true"></script>
    </environment>

    <environment names="Staging,Production">
        <script src="~/view-resources/Areas/Admin/InstaAccounts/Index.min.js" asp-append-version="true"></script>
    </environment>
}
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    Instagram аккаунты
                </h2>
                <ul class="header-dropdown m-r--5">
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">more_vert</i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li><a id="RefreshButton" href="javascript:void(0);" class="waves-effect waves-block"><i class="material-icons">refresh</i>Обновить</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="body table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Действие</th>
                            <th>Название</th>
                            <th>Логин</th>
                            <th>Категория</th>
                            <th>Публикован</th>
                            <th>Статус</th>
                            <th>Подкатегории</th>
                            <th>Ссылка</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">menu</i>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#" class="waves-effect waves-block edit-item" data-item-id="@item.Id" data-toggle="modal" data-target="#CreateOrEditModal"><i class="material-icons">edit</i>Изменить</a></li>
                                        <li><a href="#" class="waves-effect waves-block delete-item" data-item-id="@item.Id" data-item-name="@item.Name"><i class="material-icons">delete_sweep</i>Удалить</a></li>
                                    </ul>
                                </td>
                                <td>@item.Name</td>
                                <td>@item.UserName</td>
                                <td>@item.Category</td>
                                <td>@(item.IsPublish ? "Да" : "Нет")</td>
                                <td>@item.Status</td>
                                <td>
                                    @foreach (var subItem in item.SubItems)
                                    {
                                        <text>@subItem; </text>
                                    }
                                </td>
                                <td><a class="btn btn-sm btn-warning" href="@item.Link" target="_blank"><icon class="fa fa-link"></icon> Перейти</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
                <button type="button" class="btn btn-primary btn-circle waves-effect waves-circle waves-float pull-right create-item" data-toggle="modal" data-target="#CreateOrEditModal">
                    <i class="material-icons">add</i>
                </button>
                <input type="hidden" id="Type" value="@ViewBag.Type" />
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="CreateOrEditModal" tabindex="-1" role="dialog" aria-labelledby="CreateOrEditModalLabel" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

        </div>
    </div>
</div>



